@import url("https://fonts.googleapis.com/css2?family=Sora:wght@400&display=swap");

.App {
  width: 72em;
  margin: auto;
  font-family: "Quicksand", sans-serif;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-family: "Sora", sans-serif;
}

.font {
  font-family: "Sora", sans-serif;
}

.item {
  transition: 0.3s;
}

.item:hover {
  opacity: 0.6;  
}
